/*basic styales*/
* {
    margin: 0;
    padding: 0;
}

a, span, i {
    color: #111111;
    text-decoration: none;
}

img {width: 89%;}
a:hover {color: #111111;}
ul{list-style: none; border-bottom: 0;}
.active_dots {list-style: circle;}
.active {display: block!important;}

/*standarts*/
.b-r {border-right: 1px solid grey;}
.t-r {text-align: right;}
.dnone {display: none;}
.f-b {font-weight: bold;}
.cl_both {clear: both;}
.color-grey {color:grey;}
.fs_i {font-style: italic;}

/*header*/
/*TOP*/
.bg_grey {  
    background: #f7f7f7;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.block_podarki {position: relative;}

.head_left .dropdown-toggle::after {
    position: absolute;
    bottom: 25px;
}

.top_left .dropdown-menu.show {
    top: 25px;
    left: 60px;
}

.count_gift {
    background: red;
    color: white;
    width: 13px;
    border-radius: 50px;
    position: absolute;
    font-weight: 100;
    right: 0px;
    top: 0px;
    font-size: 9px;
    height: 13px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
}

/*MIDDLE*/
.desc_levaya {float: left;}

.desc_pravaya {
    display: inline-block;
    margin-left: 10px;
}

.menu_desc .desc_levaya {
    background: #f4f4f4;
    padding: 13px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    line-height: 0;
    float: left;
    line-height: 0;
}

.desc_pravaya p {
    margin-bottom: 0;
    font-size: 14px;
}

.logo img {
    margin-left: 60px;
    margin-top: -10px;
}

.search_form input[type="search"] {
    border-radius: 20px;
    width: 310px;
}

.search_form button {
    border-radius: 50px;
    position: absolute;
    right: 9px;
    border: 1px solid grey;
}

.search_form {
    position: relative;
}

.search_form button:hover {
    background:  #111111;
    border: 1px solid transparent;

}

.search_form button:hover i {
    color:  white;
}



.icon_card {
    padding: 5px;
    background: #111111;
    color: white;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50px;
    line-height: 1.5;
    float: left;
    margin-top: 3px;
}

.icon_card i {color: white;}

.korzina_kolichestvo {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
}

.korzina_kolichestvo p {
    margin-bottom: 0;
}

.korzina_kolichestvo > p:first-child {
    font-size: 15px;
    font-weight: bold;
    color: #111111;
}

.korzina_kolichestvo span {
    font-size: 12px;
    font-weight: bold;
}

.cart .dropdown-toggle::after {
    display: none;
}

.cart .dropdown-menu {
    left: -50px;
    top: 50px;
}

.dropdown-menu {top: 50px;}

/*body*/

/*photo*/
.block_photo {
    padding: 0px;
    list-style: none;
}

.block_photo li {
    float: left;
    width: 50%;
    max-height: 329px;
    padding: 7px;
}

.block_photo li img {
    width: 100%;
    object-fit: cover;
}

.block_photo img:hover {
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 5px;
    transition: .5s;
}

/*desc*/
.review img {width: 20%;}
.mini_desc {font-size: 15px;}
.review {font-style: italic;}

.price {
    font-weight: bold;
    font-size: 16px;
}

/*color*/
.list_color {
    padding: 0;
    list-style: none;
}

.list_color span {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    display: inline-block;
}

.list_color li {
    float: left;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 27px;
}

ul.list_color li:hover,
ul.list_color li.active {
	border: 1px solid #777777;
	transition: .5s;
    cursor: pointer;
    border-radius: 14px;
}


.beruza {background: #8cccca;}
.jeltyi {background: #fdc140;}
.sinii {background: #8dcff4;}
.rozovyi {background: #f59fbc;}
.zelenyi {background: #a8d59d;}

.product_color span {
    font-weight: bold;
    font-size: 18px;
}

/*size*/

.product_size {
    clear: both;
    padding: 0;
    list-style: none;
}

.list_size span {
    width: 30px;
    height: 23px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.list_size li {
    float: left;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 23px;
    list-style: none;
}

ul.list_size li:hover, ul.list_size li.active {
    border: 1px solid #777777;
    transition: .5s;
    cursor: pointer;
    background: #111111;
}

.list_size li:active{
    color: white;
}

ul.list_size span:hover{
    color: white;
    transition: .5s;
}

ul.list_size li.active span {
    color: white;
    transition: .5s;
}

/**/

.js_number {width: 95px;}

input.js-number {
    width: 60px;
    text-align: center;
    background: #f4f4f4;
    border: none;
    height: 40px;
    border-right: 1px dashed white;
    border-left: 1px dashed white;
}

.count_product {
    border-radius: 40px;
    text-align: center;
}

button.js-plus {border: none;}

.count_product button {
    border: none;
    /* background: #c5c5c5; */
    border-radius: 40px;
}

.product_btns a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2;
    background: #f4f4f4;
    margin-right: 10px;
    border-radius: 40px;
}
ul.head_tabs li {
	float: left;
	margin: 5px 15px;
	font-size: 19px;
	border-bottom: 2px solid transparent;
	transition: .5s;
	color: grey;
}

ul.head_tabs li.active, ul.head_tabs li:hover {
	border-bottom: 2px solid #4b4b6b;
	transition: .5s;
	color: #4b4b6b;
	cursor: pointer;
}

ul.head_tabs li:first-child {margin-left: 0;}
.comment textarea,.comment input {
    border: 1px solid #e6e6e6;
    font-size: 14px;
    padding: 5px 15px;
}

.comment input {
    height: 40px;
    width: 210px;
}

.head_tabs {display: inline-block;}

ul.head_tabs li {
    float: left;
    margin: 5px 15px;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    color: grey;
}

ul.head_tabs .active, ul.head_tabs li:hover {
    border-bottom: 2px solid #000;
    transition: .5s;
    color: #111111 ;
    cursor: pointer;
}

ul.head_tabs li:first-child {
    margin-left: 0;
}

#tab3 img {width: 7%;}

#tab2 img {width: 70%;}

.nxt_prev {font-size: 40px;}
ul.btn_prev li {float: left;}
ul.btn_prev p {padding: 0 10px; margin-bottom: 0;}
ul.btn_prev p + p {font-size: 15px;}
.nxt_prev:hover {cursor: pointer;}

.slide_tovarov {
    clear: both;
    width: 92%;
    margin: 0 auto;
    margin-top: 100px;
}

.product_cont {
    min-height: 254px!important;
    position: relative;
}

.slide_tovarov {
    clear: both;
    width: 92%;
    margin: 0 auto;
    margin-top: 100px;
}

.slider_product a {
    display: inline-block;
}

.dec_on_img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 210px;
    background: #ffffff9e;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.slider_product .slick-prev {
    right: 115px;
    left: unset;
    z-index: 9;
    top: -50px;
}

.slider_product .slick-prev:before, .slider_product .slick-next:before {
    color: #111111;
    font-size: 45px;
}

.slider_product .slick-next {
    top: -50px;
    right: 42px;
}

span.lbl_title {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
}

span.blue:before {border-left: 9px solid #ff0100;}

span.lbl_title:before {
    content: "";
    position: absolute;
    border-bottom: 10px solid transparent;
    left: 12px;
    bottom: -7px;
    z-index: 1;
}

.staraya_cena {
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
    margin-left: 12px;
}

.data_tabs > div {display: none}

footer {
    background: #f4f4f459;
    border-top: 2px solid #f4f4f4;
}

.head_footer {display: flex;}

.head_footer > div:not(:last-child) {
    margin-right: 25px;
}

.head_footer > div {
    width: 23%;
    border: 2px dashed #111111;
    padding: 0 15px;
}

p.mini_desc_footer {
    color: black;
    font-size: 14px;
}

ul.list_footer li:hover {
    margin-left: -2px;
    cursor: pointer;
    transition: .5s;
    color: black;
    font-weight: bold;
}

 ul.list_footer {
    font-size: 14px;
    color: #999;
}

.bottom_footer {
    padding: 5px 0 5px;
    display: inline-block;
    width: 100%;
}

.bottom_footer > div:nth-child(1) {
    float: left;
    margin-top: 12px;
}

.bottom_footer > div:nth-child(2) {float: right;}

ul.instagram img {
    width: 79px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
}

ul.instagram {display: flex;}

.bottom_footer > div:nth-child(2) ul.list_card li {
    float: left;
    margin-left: 5px;
    border: 1px solid #494b69;
    height: 28px;
    margin-top: 7px;
}
/*les 25*/
.list_color span > span {display: none;}

.data_cart.dropdown-menu.show {
	width: 316px;
	right: 0;
	left: auto;
}

.dannye_tovarov {
	display: inline-block;
	position: relative;
	border-bottom: 1px solid #e4e4e4;
	margin: 0 8px;
	clear: left;
	padding-bottom: 8px;
	padding-top: 8px;
	width: 94%;
}

.kartinka_tovara {
	float: left;
	width: 85px;
	height: 85px;
	overflow: hidden;
}

.opisanie_tovara p {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
}

.opisanie_tovara span.originalnaya_cena {
	font-size: 16px;
}

.opisanie_tovara span.staraya_cena {font-size: 13px;}

.opisanie_tovara {
	display: inline-block;
	margin-left: 6px;
}
p.cart_color_size span {
	color: #979797;
	font-weight: normal;
}
.udalit_zakaz {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.listing_zakazov .dannye_tovarov:first-child {
	padding-top: 0;
}


.itogvaya_cena {
	padding: 0 8px;
	font-size: 19px;
}
.itogvaya_cena span {
	width: 50%;
	display: inline-block;
	float: left;
}
span.itog {
	text-align: right;
}

.checkout {
	display: inline-block;
	width: 100%;
	padding: 0 8px;
	margin: 12px 0 0;
}

.checkout button {
	width: 100%;
	background: grey;
	color: white;
	border: none;
	padding: 10px 0;
	border: 1px dashed white;
	transition: .5s;
}

.checkout button:hover {
	background: #111111;
	transition: .5s;
}

.product_info .price {
	font-size: 25px;
}
p.cart_count {
	font-weight: normal;
}
.kartinka_tovara img {
	height: 100%;
	object-fit: contain;
}

/*les 26*/
.listing_zakazov span.cart_ttl {
    margin-left: 30px;
    margin-bottom: 30px;

}

.product_size ul.list_option,
.product_color ul.list_option {
	border: 1px solid transparent; 
}

.product_color ul.list_option {
    /*border: 1px solid red;*/
}